include ../config/config
<!DOCTYPE html>
html(lang="eu")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous")
    body
        header#header.header
            #topbar.topbar
                a(href="/").logo
                    img(src="assets/img/logo.png", alt="web logo")
                .topbar__icon(data-type="login")
                    i.fas.fa-user
                    span Log in
                .topbar__icon(data-type="register")
                    i.fas.fa-user-plus
                    span Register
                .toggle-menu
                    #toggle-menu.toggle-menu__icon
                        .first-bar
                        .second-bar
                        .third-bar
        aside#sidebar.sidebar
            a(href="/").logo
                img(src="assets/img/logo.png", alt="web logo")
            block menu
            //.aboutme
        main.main
            block title
            block main
        include ../includes/login-modal
        include ../includes/register-modal
        //footer#footer.footer footer
        block scripts
        script(src="js/scripts-min.js")