.header {
    padding: 1em 0;
    z-index: 100;
    @include laptop {
        background-color: $dark-color;
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }
}