.logo {
    //! Hay que revisar como solucionar que el logo quede estatico
    //position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 50px;
    }

    @include laptop {
        display: none;
    }
}