.toggle-menu {
    height: 50px;
    width: 50px;
    
    
    &__icon {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: 50px;
        width: 50px;
        padding: 5px;
        
        & .first-bar,
        & .second-bar,
        & .third-bar {
            position: relative;
            align-self: center;
            justify-content: center;
            height: 4px;
            background-color: $text-color;
            border-radius: 5px;
            transition: transform .2s;
        }
    }
    
    // si tiene la clase show, accede al first-bar
    .show .first-bar {
        transform: rotate(-45deg);
        top: 12px;
    }
    
    .show .second-bar {
        width: 0;
    }
    
    .show .third-bar {
        bottom: 12px;
        transform: rotate(45deg);
    }

    @include laptop {
        display: none;
    }

}