.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    top: 0;
    /* Estas dos cosas se hacen para centrar el elemento y que no salga para afuera del contenido */
    left: 50%;
    transform: translateX(-50%);
    background-color: $dark-color;
    height: 50px;
    z-index: 50;

    &__icon {
        color: $text-color;
        width: 90px;
        display: flex;
        justify-content: space-around;
    }

    @include laptop {
        background-color: transparent;
        height: 60px;
        left: 100%;
        transform: translateX(-100%);
        width: 20vw;
    }

    @include desktop {
        width: 15vw;
    }
}