extends ../templates/template
block menu
    include ../includes/main-menu
block title
    h1.title Home
block main
    #gallery.gallery
        .gallery_item
            img(src="assets/img/gallery/1.jpg", alt="Imagen de la galeria 1")
        .gallery_item
            img(src="assets/img/gallery/2.jpg", alt="Imagen de la galeria 2")
        .gallery_item
            img(src="assets/img/gallery/3.jpg", alt="Imagen de la galeria 3")
        .gallery_item
            img(src="assets/img/gallery/4.jpg", alt="Imagen de la galeria 4")
        .gallery_item
            img(src="assets/img/gallery/5.jpg", alt="Imagen de la galeria 5")
        .gallery_item
            img(src="assets/img/gallery/1.jpg", alt="Imagen de la galeria 1")
        .gallery_item
            img(src="assets/img/gallery/2.jpg", alt="Imagen de la galeria 2")
        .gallery_item
            img(src="assets/img/gallery/3.jpg", alt="Imagen de la galeria 3")
        .gallery_item
            img(src="assets/img/gallery/4.jpg", alt="Imagen de la galeria 4")
        .gallery_item
            img(src="assets/img/gallery/5.jpg", alt="Imagen de la galeria 5")
        .gallery_item
            img(src="assets/img/gallery/1.jpg", alt="Imagen de la galeria 1")
        .gallery_item
            img(src="assets/img/gallery/2.jpg", alt="Imagen de la galeria 2")
        .gallery_item
            img(src="assets/img/gallery/3.jpg", alt="Imagen de la galeria 3")
        .gallery_item
            img(src="assets/img/gallery/4.jpg", alt="Imagen de la galeria 4")
        .gallery_item
            img(src="assets/img/gallery/5.jpg", alt="Imagen de la galeria 5")
        .gallery_item
            img(src="assets/img/gallery/1.jpg", alt="Imagen de la galeria 1")
        .gallery_item
            img(src="assets/img/gallery/2.jpg", alt="Imagen de la galeria 2")
        .gallery_item
            img(src="assets/img/gallery/3.jpg", alt="Imagen de la galeria 3")
        .gallery_item
            img(src="assets/img/gallery/4.jpg", alt="Imagen de la galeria 4")
        .gallery_item
            img(src="assets/img/gallery/5.jpg", alt="Imagen de la galeria 5")
block scripts
    script(src="/js/macy.js")